In [1]:
import os

current_directory = os.getcwd()
print("Directorio actual:", current_directory)

Directorio actual: /Users/davidusuariocasa/Desktop/Projects/Dashboard-Project

In [50]:
import pandas as pd

In [51]:
mental = pd.read_csv('/Users/davidusuariocasa/Desktop/mental.csv')

/var/folders/87/s4hx64fd369_w81yc2lyq29w0000gp/T/ipykernel_18006/3356450092.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  mental = pd.read_csv('/Users/davidusuariocasa/Desktop/mental.csv')

In [57]:
mental

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
108548,108548,Zimbabwe,ZWE,2013,303564.60359,NaN,NaN,NaN,NaN,NaN,NaN
108549,108549,Zimbabwe,ZWE,2014,311665.769283,NaN,NaN,NaN,NaN,NaN,NaN
108550,108550,Zimbabwe,ZWE,2015,320638.507158,NaN,NaN,NaN,NaN,NaN,NaN
108551,108551,Zimbabwe,ZWE,2016,330437.353798,NaN,NaN,NaN,NaN,NaN,NaN
108552,108552,Zimbabwe,ZWE,2017,340583.157405,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
lst = mental['Year'].unique().tolist()
lst.sort()
lst

['0',
 '1',
 '100',
 '1000',
 '1000 BCE',
 '10000 BCE',
 '1100',
 '1200',
 '1300',
 '1400',
 '1500',
 '1600',
 '1700',
 '1710',
 '1720',
 '1730',
 '1740',
 '1750',
 '1760',
 '1770',
 '1780',
 '1790',
 '1800',
 '1801',
 '1802',
 '1803',
 '1804',
 '1805',
 '1806',
 '1807',
 '1808',
 '1809',
 '1810',
 '1811',
 '1812',
 '1813',
 '1814',
 '1815',
 '1816',
 '1817',
 '1818',
 '1819',
 '1820',
 '1821',
 '1822',
 '1823',
 '1824',
 '1825',
 '1826',
 '1827',
 '1828',
 '1829',
 '1830',
 '1831',
 '1832',
 '1833',
 '1834',
 '1835',
 '1836',
 '1837',
 '1838',
 '1839',
 '1840',
 '1841',
 '1842',
 '1843',
 '1844',
 '1845',
 '1846',
 '1847',
 '1848',
 '1849',
 '1850',
 '1851',
 '1852',
 '1853',
 '1854',
 '1855',
 '1856',
 '1857',
 '1858',
 '1859',
 '1860',
 '1861',
 '1862',
 '1863',
 '1864',
 '1865',
 '1866',
 '1867',
 '1868',
 '1869',
 '1870',
 '1871',
 '1872',
 '1873',
 '1874',
 '1875',
 '1876',
 '1877',
 '1878',
 '1879',
 '1880',
 '1881',
 '1882',
 '1883',
 '1884',
 '1885',
 '1886',
 '1887',
 '1888',
 '1889',
 '1890',
 '1891',
 '1892',
 '1893',
 '1894',
 '1895',
 '1896',
 '1897',
 '1898',
 '1899',
 '1900',
 '1901',
 '1902',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1908',
 '1909',
 '1910',
 '1911',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '1920',
 '1921',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '200',
 '2000',
 '2000 BCE',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '300',
 '3000 BCE',
 '400',
 '4000 BCE',
 '500',
 '5000 BCE',
 '600',
 '6000 BCE',
 '700',
 '7000 BCE',
 '800',
 '8000 BCE',
 '900',
 '9000 BCE',
 'Year']

In [65]:
mental = mental[mental['Year'] == '2010']

mental1 = mental['Year'].unique().tolist()

mental.isna().sum()

index                          0
Entity                         0
Code                         150
Year                           0
Schizophrenia (%)             88
Bipolar disorder (%)         319
Eating disorders (%)         297
Anxiety disorders (%)        781
Drug use disorders (%)       781
Depression (%)               781
Alcohol use disorders (%)    781
dtype: int64

In [16]:
suicide = pd.read_csv('/Users/davidusuariocasa/Desktop/suicide/crude suicide rates.csv')

In [17]:
suicide

,Unnamed: 0,Unnamed: 1,"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.1","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.2",Crude suicide rates (per 100 000 population),Crude suicide rates (per 100 000 population).1,Crude suicide rates (per 100 000 population).2
0,Country,Year,Both sexes,Male,Female,Both sexes,Male,Female
1,Afghanistan,2016,29.8,31.8,27.7,4.7,7.6,1.5
2,Afghanistan,2015,29.8,31.9,27.8,4.8,7.8,1.5
3,Afghanistan,2010,31.7,34.1,29.4,5.1,8.6,1.4
4,Afghanistan,2005,34.1,36.5,31.6,6.3,10.8,1.5
...,...,...,...,...,...,...,...,...
911,Zimbabwe,2016,19.3,18.7,19.8,10.7,15.7,6.0
912,Zimbabwe,2015,19.4,18.6,19.9,10.6,15.5,6.0
913,Zimbabwe,2010,21.1,20.5,21.5,11.9,18.1,6.1
914,Zimbabwe,2005,22.5,22.1,22.9,13.9,21.7,6.4
915,Zimbabwe,2000,21.6,21.6,21.7,12.9,20.6,5.5

In [18]:
mortality = pd.read_csv('/Users/davidusuariocasa/Desktop/mortality/Adult mortality.csv')

In [19]:
mortality

,Unnamed: 0,Unnamed: 1,Adult mortality rate (probability of dying between 15 and 60 years per 1000 population),Adult mortality rate (probability of dying between 15 and 60 years per 1000 population).1,Adult mortality rate (probability of dying between 15 and 60 years per 1000 population).2
0,Country,Year,Both sexes,Male,Female
1,Afghanistan,2016,245,272,216
2,Afghanistan,2015,233,254,210
3,Afghanistan,2014,234,254,213
4,Afghanistan,2013,235,254,215
...,...,...,...,...,...
3107,Zimbabwe,2004,694,725,670
3108,Zimbabwe,2003,697,728,671
3109,Zimbabwe,2002,695,728,667
3110,Zimbabwe,2001,688,723,656
3111,Zimbabwe,2000,675,715,640